body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
nav {
    background-color: #333;
}

nav a {
    text-decoration: none; 
    color: white; 
    padding: 14px 20px; 
    display: inline-block; 
    font-size: 16px; 
}
nav a:hover {
    background-color: #dddddd50;
    color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;  
}
.name{
    font-size: 25px;
    color: white;
    font-weight: 600;
}
section {
    padding: 15px;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 8px;
}

.intro, .skills, .projects, .contact {
    margin-bottom: 10px;
}

