body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
nav {
    background-color: #333;
}
nav a {
    text-decoration: none; 
    color: white; 
    padding: 14px 20px; 
    display: inline-block; 
    font-size: 16px; 
}
nav a:hover {
    background-color: #dddddd50;
    color:white; 
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;  
}
.name1{
    font-size: 25px;
    color: white;
    font-weight: 600;
}
section {
    padding: 15px;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 8px;
    margin-right: 60%; 
}
.intro, .skills, .projects, .contact {
    margin-bottom: 10px;   
}
span{
    color: rgba(6, 167, 36, 0.699);
}
.contact{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241,241,241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
img{
    margin-bottom: 100px;
    width: 200px;
    border-radius: 60%;
    position: relative; 
    top: -100px;
}
